body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--bg-color, #fff);
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRckqwCMS8kOPsNU8msRHiWjcx2dCp-GFvoIg&usqp=CAU'); /* Updated background image */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.link {
  margin: 10px;
}

.link a {
  display: block;
  padding: 10px;
  background-color: #f0f0f0;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}
